@{
    ViewData["Title"] = "Home Page";
}
<div class="container text-center mb-5 ">
  <div class="row d-flex  justify-content-around w-100 align-items-center">
    <div class="col">
      <p class="text-center fs-4 fw-bolder">АГЕНТИИ ОМОРИ НАЗДИ ПРЕЗИДЕНТИ <br> ҶУМУРИИҲУРИИ ТОҶИКИСТОН</p>
    </div>
      <div class="col">
          <div class="text-center ">
              <img  src="../images/481px-Emblem_of_Tajikistan.svg.png" alt="Card image cap" width="200" height="200">
              </div>
      </div>
    <div class="col">
     <p class="text-center fs-4 fw-bolder">АГЕНСТВО ПО СТАТИСТИКЕ ПРИ ПРЕЗИДЕНТЕ <br> РЕСПУБЛИКИ ТАДЖКИСТАН</p>
    </div>
  </div>
</div>
  <div>
      <p class="text-center fs-4"> Китобҳои ҳуҷҷатгузории электронӣ</p>
  </div>



