@model Api.Models.ViewModels.EditUserVm

<h1 class="text-white">Изменить</h1>

<div class="good">
    <div class="card-body" style="border: 1px solid #fff; border-radius: 10px;">
        
        <form method="post" asp-action="Edit" asp-controller="User" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />    
            <div class="form-group">
                <label asp-for="UserName" class="control-label text-white"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group row d-flex mt-3">
                <label asp-for="PhoneNumber" class="col-md-4 text-warning"></label>
                <input asp-for="PhoneNumber" class="col-md-3 form-control" type="number" placeholder="+992987654321" style="border: 1px solid black;"/>
                <span asp-validation-for="PhoneNumber" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                <a asp-action="Edit" asp-controller="User" class="btn btn-primary">Назад</a>
            </div>
        </form>
       
    </div>
</div>
<style>
    .good{
        width:800px;
    }
</style>