@model Api.Models.ViewModels.DeleteOrderVm

<h1>Несткунии фармоиш </h1>

<h3>Шумо  мехоҳед ин фармоишро нест кунед?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>
    </dl>
</div>
<form asp-action="Delete" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Несткунӣ" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Ба ақиб</a>
    </div>
</form>
